
@import 'https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto';
#rcorners1 {
    border-radius: 25px;
    background: #faebd7;
    padding: 20px; 
    width: 100%;
    height: 150px;    
    font-size: 40px;
    text-align: center;
    color: #2C2C54;
    font-size: 4vw;
      font-family: 'Abril Fatface'
   
}

#rcorners2 {
  border-radius: 25px;
  border: 5px solid #faebd7;
  padding: 20px; 
  width: 100%;
  height: 350px;    
}

#rcorners3 {
  border-radius: 25px;
  border: 5px solid #faebd7;
  padding: 20px; 
  width: 100%;
  height: 350px;    
}


.upload-button {
    background-color:#5F9F9F;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

input[type=text] {
  width: 25%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=email] {
  width: 15%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
input[type=email]:focus {
  background-color: lightblue;
}
label {
 font-size: 15px;
}

#Userinfo {
  text-align: center;
}

label {
  color: #2C2C54;
  /* font-weight: bold; */
  display: block;
 
  display: inline;
  font-size: 20px;
  text-align: center;
  overflow: wrap;
 
}

/* Buttons */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#Userinfo {
  font-size: 20px;
  text-align: center;
}

#userselection {
  line-height: normal;
}

#favourites{
  display: inline;
}

input[type=text] {
  width: 15%;
  height: 10%;
  padding: 4px 3px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=email] {
  width: 15%;
  height: 10%;
  padding: 4px 3px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=email]:focus {
  background-color: lightblue;
}


